<mat-vertical-stepper>
  <mat-step label="Hi Ankit, Your deal has been posted !!! Will notify you once we got your peer.">
  </mat-step>
  <mat-step label="Binding with peer is successfully done!!!! You can begin your payment by clicking 'Transfer Tab'.">
  </mat-step>
  <mat-step label="Escrow received money from you.. Waiting for you peer to transfer.">
  </mat-step>
  <mat-step label="We received money from your peer. You will receive the fund shortly.">
  </mat-step>
  <mat-step label="Transaction is completed successfully :) Thank you for using SmartExchange !!! See you again.">
  </mat-step>
</mat-vertical-stepper>

