<mat-card>Transfer Details</mat-card>

<div class="fields">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="You send" type="number" [(ngModel)]="srcVal" (change)="changed()">
      </mat-form-field>
      <mat-form-field class="example-full-width drop">
      <mat-select placeholder="" [(value)]="srcCurrency" (selectionChange)="changed()">
        <mat-option value="0">NOK</mat-option>
        <mat-option value="1">INR</mat-option>
        <mat-option value="2">USD</mat-option>
        <mat-option value="3">EUR</mat-option>
      </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Recepient gets" [(ngModel)]="destVal" type="number">
      </mat-form-field>
    
    <mat-form-field class="example-full-width drop">
      <mat-select placeholder="" [(value)]="destCurrency" (selectionChange)="changed()">
        <mat-option value="0">NOK</mat-option>
        <mat-option value="1">INR</mat-option>
        <mat-option value="2">USD</mat-option>
        <mat-option value="3">EUR</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Desired transfer rate" [(ngModel)]="exRate" disabled>
        </mat-form-field>
    

<mat-card>Receiving Account Details</mat-card>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Account Number" type="number" value="">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="IFSC Code" type="text" value="">
</mat-form-field>
<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="showStatus()">Transfer</button>
</div>
