<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-tab-group>
  <mat-tab label="Post"><app-post></app-post></mat-tab>
  <mat-tab label="Transfer"><app-transfer-details></app-transfer-details></mat-tab>
  <mat-tab label="Status"><app-status></app-status></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
