
<!-- <mat-card>Choose the Money to send</mat-card> -->
<div class="info">
  <h2>No more bank or 3rd party fee(s), <br>while exchanging currency across the globe!!</h2>
  <div class="features">
    <ul>
        <li>Post your request.</li>
        <li>We will match your with a 'peer' or pick one yourself.</li>
        <li>Exchange the money!</li>
    </ul>
  </div>
</div>
<div class="payment-exchange-container">
<div class="fields">
<mat-form-field class="example-full-width">
    <input matInput placeholder="You send" type="number" [(ngModel)]="srcVal" (change)="changed()">
  </mat-form-field>
  <mat-form-field class="example-full-width drop">
  <mat-select placeholder="" [(value)]="srcCurrency" (selectionChange)="changed()">
    <mat-option value="0">NOK</mat-option>
    <mat-option value="1">INR</mat-option>
    <mat-option value="2">USD</mat-option>
    <mat-option value="3">EUR</mat-option>
  </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Recepient gets" [(ngModel)]="destVal" type="number">
  </mat-form-field>

<mat-form-field class="example-full-width drop">
  <mat-select placeholder="" [(value)]="destCurrency" (selectionChange)="changed()">
    <mat-option value="0">NOK</mat-option>
    <mat-option value="1">INR</mat-option>
    <mat-option value="2">USD</mat-option>
    <mat-option value="3">EUR</mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Desired transfer rate" [(ngModel)]="exRate" >
  <mat-hint>That's the current rate, you can tweak it if you want!</mat-hint>
</mat-form-field>
<br>
  <button *ngIf="!data" mat-raised-button color="primary" class="started" (click)="start()">Get Started</button>
</div>
</div>
<div *ngIf="!data">
  <mat-card>List of Existing Advertisements/Options below</mat-card>
  <mat-card *ngFor="let item of adList">
  <mat-grid-list cols="4" rows="4" rowHeight="30px">
    <mat-grid-tile>
      <div>Name</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>Available Currency</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>Exchange Rate per <span>{{item.destCurrency}}</span></div>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>{{item.name}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div><span>{{item.srcValue}}</span>&nbsp;<span>{{item.srcCurrency}}</span></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>{{item.minExRate}}</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="deal()">Deal</button>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card>
</div>
