/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  margin: 20px;
}

.mat-card {
  border-radius: 20px !important;
}

.payment-exchange-container {
  /* margin-left: 37%;
  margin-top: 5%; */
  padding-top: 40px;
}

h1 {
  margin : 0;
  padding : 10px;
  background: #3f51b5;
  color : white;
}

body {
  margin : 0;
  padding : 0;
}

.info {
  float: left;
  width: 40%;
  padding: 40px;
  padding-left: 200px;
}

h2 {
  color : #3f51b5;
}

.started {
  margin-top: 20px !important;
  width: 18%;
}